{% extends 'layout_en.html' %}
{% load staticfiles %}
{% block content %}


{% for atik in atiks %}
<div class="panel-group" id="accordion">
 <div class="panel panel-primary">
    <div class="panel-heading">
     <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">{{ atik.non_pwodui }} &nbsp &nbsp See more &raquo</a>
     </h4>
        </div>
     <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
    <div class="panel-body">
        <h3><b>{{ atik.seller }}</b> ap vann pwodui sa a.</h3>
        <p><b>Deskripsyon</b></p>
        <p>{{ atik.deskripsyon }}</p>
        <p><i>{{ atik.pri }} HTG</i></p>
        <h5><i> {{ atik.specs }}</i></h5>
        <h5><b><i> HMU at +{{ atik.kontak }} !!</i></b></h5>
        <img src="{{ MEDIA_URL }}{{ atik.foto_atik }}"  width=40% height=40% />
        <p>{{ forloop.counter }}</p>
    </div>
     </div>
 </div>
    </div>
 {% endfor %}

{% endblock %}